{{ $email := promptStringOnce . "email" "What is your email address" -}}
{{ $fullName := promptStringOnce . "fullName" "What is your full name" -}}

[data]
email = {{ $email | quote }}
full_name = {{ $fullName | quote }}

[hooks.read-source-state.pre]
command = ".local/share/chezmoi/.install-password-manager.sh"
