#!/bin/bash

PREFIX=$(pwd)
sudo ln -sf "${PREFIX}"/config.toml /etc/greetd/config.toml
sudo ln -sf "${PREFIX}"/hyprland.conf /etc/greetd/hyprland.conf
sudo ln -sf "${PREFIX}"/regreet.toml /etc/greetd/regreet.toml
